
body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  position: relative;
}

.container-fluid {
 padding-top: 60px;
 padding-bottom: 80px;
}

.row {
  max-width: 1140px;
  margin: 80px auto 0 auto;
}

.navigation {
  max-width: 1280px;
  padding: 0 20px;
}

.bg-0 {
  padding: 0;
  margin-top: 60px;
}

.bg-1,
.bg-3 {
  background-color: rgb(238, 238, 238) ;
}

.bg-1 {
  padding-left: 80px;
  padding-right: 80px;
}

.bg-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/contact-bg.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/contact-bg.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  padding-left: 150px;
  padding-right: 150px;
}

.bg-3 {
  padding-left: 100px;
  padding-right: 100px;
}

.bg-4 {
  background-color: rgba(34, 34, 34, 0.9);
  padding: 80px 100px 40px;
}


h1::after {
  display: block;
  height: 2px;
  background-color: rgb(255, 212, 72);
  content: '';
  width: 100px;
  margin: 0 auto;
  margin-top: 24px;
}

p, .schedule h1, label {
  color:  rgb(238, 238, 238);
}

.panel .panel-heading {
  background-color: rgba(100, 100, 100, 0.9);
  color: rgb(255, 212, 72);
}



 /* --------------------
------- NAVBAR --------*/

.navbar {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  letter-spacing: 4px;
  font-size: 11px;
}


.navbar-header,
.nav li {
  padding-bottom: 5px;
  padding-top: 5px;
}

.navbar-brand {
  font-size: 14px;
}

.navbar-form {
  margin-top: 14px;
}

.navbar a:link,
.navbar a:visited {
  color: rgb(238, 238, 238) !important;
}

.navbar a:hover,
.navbar a:active {
  color: rgb(255, 212, 72) !important;
}

.nav li a {
  padding: 15px 10px;
}

.navbar .nav > .active > a {
  color: rgb(255, 212, 72) !important;
  background: none;
}


/* --------------------
------- SLIDE --------*/

.carousel-control.right,
.carousel-control.left {
  color: rgb(255, 255, 255);
}

.carousel-inner img {
  width: 100%;  
}



/* ------------------------
------- SERVICES --------*/

.our-services .panel-heading {
  padding: 8px 20px;
}

.our-services .panel-body img {
  -webkit-box-shadow: 3px 3px 15px rgb(82, 82, 82);
  box-shadow: 3px 3px 15px rgb(82, 82, 82);
}



/* --------------------------------
------- MAKE APPOINTMENT --------*/

label {
  margin-right: 10px;
}

.btn {
  background-color: rgba(255, 212, 72, 0.9);
  color: rgb(59, 59, 59);
  font-weight: bold;
  font-size: 16px;
  padding: 8px 25px;
  margin-top: 25px ;
}

.table {
  background-color: rgb(255, 255, 255) ;
  opacity: 0.9;
  font-size: 13px;
}

.table th {
  background-color: rgb(255, 212, 72) ;
  color:  rgb(100, 100, 100);
  text-align: center;
}

.table td {
  padding-left: 15px !important;
}



/* --------------------
------- FAQ --------*/

.questions .panel-group {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.questions .panel-heading {
  padding: 16px;
}

.panel-title a:link,
.panel-title a:visited,
.panel-title a:hover,
.panel-title a:active {
  text-decoration: none ;
}



/* --------------------
------- ABOUT --------*/

.about-us .row {
  margin: 0 auto;
}

.about-us h4 {
  color:rgb(255, 212, 72);
  margin-bottom: 20px;
  font-size: 20px;
}

.about-us .contact,
.about-us .mini-nav {
  font-size: 13px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 10px;
}

.about-us a:link,
.about-us a:visited {
  color: rgb(238, 238, 238);
}

.about-us a:hover,
.about-us a:active {
  text-decoration: none;
  color:rgb(255, 212, 72);
}

a.email-us:link,
a.email-us:visited {
  border-bottom: 1px solid rgb(255, 212, 72);
  text-decoration: none;
  padding-bottom: 2px;
}

a.email-us:hover,
a.email-us:active{
  border-bottom: none;
}



/* --------------------
------- LOGO --------*/

.logo-box {
  background-color: rgba(255, 212, 72, 0.9);
  border-radius: 50%;
  position: relative;
  width: 130px;
  height: 130px;
  margin: 15px auto;
}

.logo-img {
  height: auto;
  position: absolute;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  max-width: 75px;
  margin-top: 20px;
  margin-left: 32px;
}

.logo-text {
  font-size: 20px;
  letter-spacing: 4px;
}



/* -----------------------------
------- MEDIA QUERIES --------*/

@media screen and (max-width: 992px) {
  
  h1 {
    font-size: 32px;
  }
  
  .bg-1 {
    padding-left: 100px;
    padding-right: 100px;
  }

  .bg-2 {
    padding-left: 120px;
    padding-right: 120px;
  }

  .bg-4 {
    padding-left: 80px;
    padding-right: 80px;
  }

  .our-services .panel,
  .schedule form {
    margin-bottom: 40px;
  }

}
  

  @media screen and (max-width: 768px) {
    
    h1 {
      font-size: 28px;
    }

    .bg-1

    .bg-2,
    .bg-3 {
      padding-left: 80px;
      padding-right: 80px;
    }

    .about-us .contact,
    .about-us .mini-nav {
      text-align: center;
    }

    .about-us .contact, 
    .about-us .logo-margin {
      margin-bottom: 50px;
    }
    
   
  }
   
@media screen and (max-width: 480px) {
 
  body {
    font-size: 12px;
  }

  .row {
    margin-top: 60px;
  }
  
  .bg-1,
  .bg-2,
  .bg-3 {
    padding-left: 60px;
    padding-right: 60px;
  }

  h1 {
    font-size: 24px;
  }
  
  .btn, .panel h4 {
    font-size: 14px;
  }

  .table {
    font-size: 12px;
  }
  
  .about-us .contact,
  .about-us .mini-nav {
    font-size: 10px;
  }

  .about-us h4 {
    font-size: 16px;
  }

   
  .logo-box {
    width: 110px;
    height: 110px;
  }
  
  .logo-img {
    width: 55px;
    margin-top: 22px;
  }
  
  .logo-text {
    font-size: 18px;
  }

}


